.item {
  background-color: var(--light-blue);
  color: var(--white);
  margin: 16px 32px;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 9px;
}
.item-info {
  display: flex;
  align-items: center;

  gap: 16px;
}
