/*
  --- 01 Typography System
  -Font Size(px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
  
  
  -Font Family
  Google Font :Inter
			        -	Clicker Script
  default : sans-serif
  
  -Font Weight
  default : 400
  heading-primary : 700
  
  -Line Height
  default : 1
  heading-primary : 1.1
  
  --- 02 Color
  -Primary : ;
  -Tints : ,
  -Shades : ,
  -Accents
  -Grays : ;
  
  --- 03 Shadow
  
  --- 04 Border Radius
  default : 9px;
  
  -Spacing System(px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
  */

:root {
  --white: #dbeafe;
  --dark-blue: #3730a3;
  --light-blue: #1d4ed8;
  --gray: #57534e;
  --black: #0a0a0a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1;
}

#root {
  margin: 0 auto;
  max-width: 1200px;
}
.btn {
  padding: 8px 16px;
  font-size: 18px;
  border: none;
  border-radius: 9px;
  cursor: pointer;
}
.btn-large {
  padding: 12px 32px;
  font-size: 18px;
  border: none;
  border-radius: 9px;
  cursor: pointer;
}
